

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
    color: rgb(24, 24, 24);
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

section {
    height: 80vh;
    width: 140vh;
    margin-right:auto;
    margin-left:auto;
    background-color: rgb(27, 27, 27);
    /*border-radius: 5px;*/
    /*box-shadow: 0 2px 5px rgb(0, 0, 0);*/
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 80vh;
}

h1 {
    margin-top: 0;
    color: rgb(76, 85, 133);
}

.game {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.game img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

video {
    display: block;
}

.navbar {
    display: block;
    bottom: 0;
    position: relative;
}

li {
    display: inline-block;
    margin-right: 5px;
}

ul {
    
}

.bottomnav {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(184, 80, 80);
    text-align: center;
    
}